body{

  width: 60%;
  margin: auto;
}

article{
  border: 1px solid black;
  padding: 5px;
  width: 350px;
  margin-top: 5px;
  margin-bottom: 5px;
  /*flexbox*/
  display: flex;
  flex-direction: column;
}

article img{
  width: 90%;
  margin: auto;
}

section {

  /*flexbox*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;

}










/*Media Queries*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
