<!doctype html>
<html lang="es">
<head>
	<!-- Informació Meta -->
	<meta charset="utf-8"/>
	<meta name="description" content="Lorem Ipsum">
	<meta name="keywords" content="Lorem, Ipsum">
	<meta name="author" content="Lorem Ipsum">

	<!-- Enllaç a l'arxiu CSS Extern -->
	<link rel=stylesheet href="css/style.css" type="text/css"/>

	<!-- Enllaç a Javascript Extern -->
	<script  type="text/javascript" src="js/javascript.js"></script>

	<!-- favicon -->
	<link href="img/favicon.jpg" rel="icon" type="image/x-icon" />

	<!-- Títol de la pàgina -->
	<title>Elon Musk</title>
</head>
<body>
	<header>
		<div class="estetica">
			<div class="logo">
				<p>Elon Musk</p>
			</div>
			<div class="xarxes_socials">
				<img src="img/facebook.png" alt="Facebook">
				<img src="img/google.png" alt="Google">
				<img src="img/instagram.png" alt="Instagram">
				<img src="img/twitter.png" alt="Twitter">
			</div>
		</div>
		<nav>
			<ul id="menu">
				<li>
					<a href="#">botó1</a>
				</li>
				<li>
					<a href="#">botó2</a>
				</li>
				<li>
					<a href="#">botó3</a>
				</li>
				<li>
					<a href="#">botó4</a>
				</li>
				<li>
					<a href="#">botó5</a>
				</li>
			</ul>
		</nav>
	</header>
	<section>
		<article class="empreses">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id elit pharetra ex imperdiet lacinia eu vel mi. Mauris facilisis mattis fringilla. Nam in felis faucibus, condimentum dolor vel, bibendum massa. Donec in nunc id mauris pellentesque commodo id eu orci. Cras tristique eget nibh viverra dapibus. In hac habitasse platea dictumst. Curabitur faucibus libero ac tellus luctus, ac gravida mi lobortis. Vivamus accumsan euismod nisl, non pellentesque quam condimentum quis. Curabitur at varius justo. Curabitur eleifend dignissim dignissim. Proin laoreet ligula vel eros dapibus, iaculis efficitur eros vestibulum. Aliquam dapibus varius augue, ut feugiat velit venenatis id. Aliquam eros augue, varius at dolor quis, pharetra accumsan diam. Integer aliquet ante justo, sit amet malesuada nulla suscipit at. </p>
				<p>Morbi quis magna sem. Nulla venenatis laoreet nisl, id tristique mauris eleifend vulputate. Ut feugiat diam sapien, non semper enim pretium sit amet. Vestibulum pellentesque convallis tortor, at lobortis dui pellentesque a. Morbi cursus tortor id nisi viverra consequat. Nulla ut orci fringilla, ultrices lectus a, lacinia lacus. Integer eleifend, ligula id ornare fringilla, diam metus finibus libero, euismod sagittis lectus lorem vitae lacus. Cras non faucibus arcu. </p>
				<p> Maecenas quis malesuada massa. Praesent quis magna faucibus elit accumsan convallis id sit amet diam. Donec tempor lorem ex, gravida tempus justo iaculis fringilla. Cras nec augue id urna accumsan luctus. Nunc lorem augue, aliquam nec lacus quis, imperdiet accumsan purus. Curabitur et purus pellentesque, semper nisi non, laoreet risus. Nullam purus neque, lacinia sit amet scelerisque ut, pulvinar nec ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus sed mattis erat. Praesent tincidunt dolor vel orci rutrum, nec volutpat diam vestibulum. Mauris tincidunt id ante in pellentesque. Proin quis augue a ipsum convallis pretium nec eu ante. </p>
				<p>Vivamus aliquet at sem quis luctus. Aenean volutpat magna sed varius pulvinar. Praesent ultricies sem a lorem maximus, ac vehicula lacus elementum. Nam viverra finibus bibendum. Nulla vitae gravida augue. Cras hendrerit ultrices tellus sed posuere. Vivamus luctus accumsan neque id lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
				<p> Nunc tempor in est vel fermentum. In eget varius velit. In non ullamcorper sem. Ut congue sit amet tellus vitae posuere. Nulla cursus egestas suscipit. Suspendisse id iaculis purus. Quisque ut dolor eu sem consequat luctus sed posuere libero. Proin blandit, ex ut ultrices venenatis, dolor nisl aliquam tortor, a faucibus erat odio in metus. Vestibulum pulvinar, nisl in tristique dignissim, ipsum est tempor ipsum, eget ornare sem justo ut erat. Curabitur sed purus vitae nulla venenatis porta. Pellentesque eu lacus quam. Praesent auctor, purus et luctus cursus, dolor sem dignissim mi, posuere blandit metus felis eu eros. Fusce ultrices eget sapien vel vehicula. </p>
				<div class="cataleg">
					<div class="tesla">
						<img src="img/Tesla.jpg" alt="Tesla">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices volutpat blandit. Sed ac neque eu mi laoreet dapibus. Fusce sodales arcu quis leo molestie mattis id vel risus. Etiam. </p>
						<p>Morbi mauris nisi, aliquam quis nisl eu, maximus consequat quam. Phasellus mollis, justo at posuere placerat, eros velit hendrerit magna, sit amet imperdiet neque massa eu mi. Maecenas tincidunt ligula ac tellus ultrices, eget luctus arcu consequat. Vestibulum ut efficitur tellus. Suspendisse sit amet semper eros. Aliquam eu pharetra turpis. Proin porttitor varius convallis. </p>
					</div>
					<div class="spacex">
						<img src="img/spacex.png" alt="SpaceX">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices volutpat blandit. Sed ac neque eu mi laoreet dapibus. Fusce sodales arcu quis leo molestie mattis id vel risus. Etiam. </p>
						<p>In nisl metus, condimentum eget libero a, tincidunt varius nibh. Sed sapien justo, tincidunt sit amet dapibus eget, ullamcorper a turpis. Sed vitae libero non tortor tristique luctus vitae a arcu. Pellentesque molestie at ante ut volutpat. Aenean venenatis erat varius lacus iaculis, in imperdiet metus aliquam. Vivamus sodales vitae odio a fermentum. Aliquam erat volutpat. </p>
					</div>
					<div class="solarcity">
						<img src="img/solarcity.png" alt="Solar City">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices volutpat blandit. Sed ac neque eu mi laoreet dapibus. Fusce sodales arcu quis leo molestie mattis id vel risus. Etiam. </p>
						<p>Phasellus mattis finibus lacus et faucibus. Nulla convallis ut nibh a viverra. Curabitur maximus, mi vitae efficitur efficitur, ex justo consectetur dolor, quis viverra arcu dui in neque. Praesent euismod massa vel risus sodales, vel egestas purus eleifend. Maecenas a semper velit, sed vulputate erat. Suspendisse volutpat gravida ligula, quis venenatis mi feugiat et. In a est sit amet nisl vestibulum accumsan id sed quam. Quisque convallis ut justo ut commodo. </p>
					</div>
					<div class="boringcompany">
						<img src="img/theboringcompany.jpg" alt="The boring company">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices volutpat blandit. Sed ac neque eu mi laoreet dapibus. Fusce sodales arcu quis leo molestie mattis id vel risus. Etiam. </p>
						<p>Ut auctor purus erat, vitae euismod magna tristique congue. Aenean pulvinar vitae nunc eget pellentesque. In egestas euismod enim ac congue. Vivamus id felis sodales, fringilla magna id, laoreet lacus. Fusce lacus nisl, tempor ut posuere nec, sollicitudin quis magna. Nulla dictum eu neque at tristique. Suspendisse ultrices felis vitae pretium facilisis. Nullam et urna nec justo tempor semper. Proin eu ipsum non risus tempor ornare. Praesent quam sem, porta eget pretium sit amet, consectetur sit amet tortor. Sed imperdiet convallis ante, et mattis sem laoreet id. Proin tempor, elit eget tincidunt aliquam, neque neque sagittis ligula, a tempus est erat ut mauris. Curabitur suscipit, sem vitae interdum commodo, quam nisi ullamcorper justo, a placerat quam tortor eu metus. </p>
					</div>
				</div>

		</article>
		<article class="biografia">
			<img src="img/ElonMusk1.jpg" alt="Elon Musk">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet lacus felis. Sed posuere hendrerit cursus. Phasellus aliquam porta nibh, in volutpat elit rutrum non. Sed euismod efficitur justo et semper. In vulputate dictum dolor ac molestie. Ut fermentum massa non erat feugiat consequat. Donec id mattis risus. Donec interdum aliquet euismod. </p>
			<p>Curabitur dapibus blandit est venenatis placerat. Praesent eget tincidunt odio. Etiam porta mi quis fringilla scelerisque. Morbi mi erat, bibendum id efficitur at, efficitur nec dui. In accumsan, elit id suscipit lacinia, velit nibh mattis ante, ut placerat purus mi feugiat neque. Sed porttitor convallis ultrices. Phasellus in commodo justo, quis dignissim turpis. Donec purus metus, ornare vitae consequat id, maximus nec metus. Ut pharetra luctus placerat. Quisque bibendum nec tellus eu semper. </p>
		</article>
	</section>
	<footer>Pàgina web creada per en Sheng Jun Ye</footer>
</body>
</html>
