body {
  background: red;
  padding: 100px;
}

section {
  background: yellow;
  border: 3px solid blue;

  /*Flexbox*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.provaclass{

}

article {
  background: violet;
  border: 3px solid black;
  width: 300px;

}

article img{
  width: 25%;
  min-width: 200px;
}












/*Media Queries*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
