body {
  border: 1px solid black;
  width: 60%;
  margin: auto;
}
section {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
article {
  margin: auto;
  border: 1px solid black;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  /*flexbox*/
  display: flex;
  flex-direction: row;
  width:48%;
}
article img{
  min-width: 250px;
  width: 100%;
  margin-right: 5px;
}

.button {
  border: 2px solid blue;
  align-items: flex-end;
}


/*Media Queries*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
