body {
  background-image: url("../img/alpaca.jpg");
  display: flex;
  justify-content: center;
}

form{
  border: 1px solid white;
  margin-top: 45%;
  text-align: center;
  background: rgb(255,250,250,.5);

}
