article {
  width: 30%;
  margin:auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
form input {
  padding-bottom: 5px;
  padding-bottom: 5px;
}
form {
  margin: auto;
}
body {
  margin: auto;
  margin: 15%;
}
section {
  align-items: center;
}

*{border:  1px solid black;}
/*Media Queries*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
